[Unit]
Description=MiniDLNA is a DLNA/UPnP-AV server software
After=local-fs.target network.target

[Service]
Type=exec
DynamicUser=yes
ExecStart=/usr/sbin/minidlnad -S
RuntimeDirectory=minidlna
CacheDirectory=minidlna
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on

[Install]
WantedBy=multi-user.target
